<html>
	<head>

	</head>

	<body>
		<h1>Welcome to Congress DB!</h1>
		<p>Select from the following:</p>
		<ol>
			<li><a href="/Senate">Senate</li>
			<li><a href="#">House</li>
		</ol>
	</body>

</html>
